.container {
    display: flex; /* Active Flexbox */
    justify-content: space-around; /* Répartit les éléments (h1 et button) uniformément sur toute la largeur */
    align-items: center; /* Centre verticalement les éléments dans le conteneur */
    width: 100%; /* Le conteneur prend toute la largeur de la page */

  }
  