$borderSize:0vh;
$margin:1vh;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    justify-content: center;
    height: 100%;
    max-height: 900px;
    margin: 0 auto; 
    font-weight: bold;
    color: cadetblue;
    background-color: white;
    border: $borderSize solid #6131e6;
}

.line {
    //align-items: center;
    display: flex;
    width: calc(100% - 2 * $borderSize - 2 * $margin);
    height: 50px;
    border: $borderSize solid #e63140;
    display: flex;
    justify-content: center;
    margin: 1vh;
    align-items: center;
}


.title {
    font-size:xx-large;
    border: $borderSize solid #31c2e6;

  }



.logo {
    width: 30%;
    text-align: center;
    border: $borderSize solid #31c2e6;
}


.data {
    //vertical-align: middle;
    //line-height: 50px;
    flex-wrap: nowrap;
    //margin: 10px;
    //width: 300px;
    border: $borderSize solid #31c2e6;
}

.nothing {
    height:20;
    border: $borderSize solid #31c2e6;
}



.fieldlabel {
    //display: flex;
    //justify-content: right;//alignement à l'intérieur de la case contenu dans le div
    //vertical-align: middle;
    //line-height: 50px;
    //font-size: large;
    //flex-wrap: nowrap;
    //margin: 10px;
    width:calc(25% - 2 * $borderSize);
    //border: $borderSize solid #31c2e6;

}




$lavande-color: rgb(150, 131, 236); 

.display {
    font-size: large;
    font-weight: bold;
    background-color: white;
    color:$lavande-color;  
    margin-top: 30px; // espace supplémentaire en haut
    border: $borderSize solid #31c2e6;
   
}