<div class="container">
<form [formGroup]="buildedForm" (ngSubmit)="updateCredentials()">

    <div class="row">
      <div class="fieldlabel"><h2>Profil utilisateur</h2></div>
    </div>
    <div class="row">
      <!--<div class="fieldlabel">Adresse e-mail:</div>-->
      <div class="data"><input type="emailaddress" id="emailaddress" class="input" [(ngModel)]="connectedSpeaker.emailaddress" formControlName="varEmailaddress"></div>
    </div>

    <div class="row">
      <!--<div class="fieldlabel">Nom d'utilisateur:</div>-->
      <div class="data"><input type="text" id="pseudonym" class="input" formControlName="varPseudonym" [(ngModel)]="connectedSpeaker.pseudonym"></div>
    </div>
    <div class="row">
      <!--<div class="fieldlabel">Password:</div>-->
      <div class="data"><input type="password" id="pasword" class="input" [(ngModel)]="connectedSpeaker.password" formControlName="varPassword"></div>
    </div>
    <div class="row">
      <div class="fieldlabel">
      <button type="submit" >Sauvegarder</button></div>
    </div>
    <div class="row">
      <div class="fieldlabel">
         <a class="red" (click)="logout()">Se déconnecter</a></div>
    </div>
    <div class="row">
      <div *ngIf="showInformationMessage" class="information">
        <label>{{informationMessage}}</label>
      </div>
    </div>



</form>

<div *ngIf="bigErrorMessage" class="display">
    {{ bigErrorMessage }}
  </div>


<!--
        <div class="line">
          <div class="fieldlabel"><label for="password">Mot de passe :</label></div>
          <div class="data">  <input type="password" id="password" class="form-control" formControlName="varPassword" [(ngModel)]="connectedSpeaker.password"></div>
        </div>  
-->