@import '../../../styles.scss';
$margin:0vh;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    //height:5vh;
    max-height: 900px;
    margin: 0 auto; 
    font-weight: bold;
    color: cadetblue;
    background-color: $greyPearlColor;
    border: $borderSize solid #6131e6;
    width: calc(100% - 2 * $borderSize);
}

.special {
    display: flex;
    //flex-direction:row;
    justify-content:space-around;
}
.special-box {
    width: calc(50% - 2 * $borderSize);
    display: flex;
    justify-content: center;
    align-items: center;
    border: $borderSize solid #e631d7;
}


.line {
    //align-items: center;
    display: flex;
    width: calc(100% - 2 * $borderSize - 2 * $margin);
    height: 50px;
    border: $borderSize solid #e63140;
    
    display: flex;
    justify-content: center;
    //margin: 1vh;
    align-items: center;
    min-height: 10vh;
    height:100%;
}

.block {
    display: flex;
    flex-direction: column;
    border: $borderSize solid #bfe631;
    background-color: $greyPearlColor;

    padding: 1vh;
}

.row {
    display: flex;
    flex-direction: row;
    border: $borderSize solid #e63167;
    justify-content: center;
    margin: 0.5vh;
}

.title {
    ////font-size:xx-large;
    border: $borderSize solid #31c2e6;
    
  }



.logo {
    width: 30%;
    text-align: center;
    border: $borderSize solid #31c2e6;
}
.nothing {
    height:20;
    border: $borderSize solid #31c2e6;
}



.data {
    border: $borderSize solid #31c2e6;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

.fieldlabel {
   width:calc(40% - 2 * $borderSize);
   display: flex;
    align-items: center;
}





.display {
    ////font-size: large;
    font-weight: bold;
    background-color: white;
    color:$lavandeColor; 
    margin-top: 30px; // espace supplémentaire en haut
    border: $borderSize solid #31c2e6;
   
}

@media screen and (orientation:portrait) and (max-height:850px) {
    .row {
        display:flex;
        flex-direction: column;
        border: $borderSize solid #4c31e6;
    }
    .fieldlabel,.data {
        width:calc(100% - 2 * $borderSize);
        height:5vh;
    }
    
}

@media screen and (orientation:portrait) and (min-height:851px) {
    .row {
        display:flex;
        flex-direction: row;
        border: $borderSize solid #6131e6;
    
    }
    
}

@media screen and (orientation:lanscape) and (max-width:850px) {
    .row {
        display:flex;
        flex-direction: row;
        border: $borderSize solid #55e631;
    }
    
}

@media screen and (orientation:lanscape) and (min-width:851px) {
    .row {
        display:flex;
        flex-direction: row;
        border: $borderSize solid #e6d431;
    
    }
    
}