<app-auth-header></app-auth-header>
<div *ngIf="onError" class="error-message">
  Une erreur est survenue lors de l'inscription. Veuillez réessayer.
</div>

<div class="container">
    
  
      <form [formGroup]="buildedForm" (ngSubmit)="submit()" >
      <div class="input-title"><h1>Inscription</h1></div>
      <div class="input-line" >
        <label class="input-label" for="pseudonym">Nom d'utilisateur :</label>
        <div class="input-box">
          <input class="input" type="text" id="pseudonym" formControlName="varPseudonym">
        </div>
      </div>
      <div class="input-line">
        <label class="input-label" for="emailaddress">Adresse e-mail :</label>
        <div class="input-box"><input class="input" type="emailaddress" id="emailaddress" formControlName="varEmailAddress">
        </div>
        </div>
      <div class="input-line">
        <label class="input-label" for="password">Mot de passe :</label>
        <div class="input-box"><input class="input" type="password" id="password" formControlName="varPassword">
        </div>
      </div>
      <div class="input-button">
        <button type="submit" >S'inscrire</button>
      </div>
   
  </form>
  
</div>

