@import '../../../styles.scss';

.container {
    border: $borderSize solid #31c2e6;
  
  
    background-color:$defaultBackgroundColor; 
    width:calc($screenWidth - 2 * $borderSize);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


input {
    //font-family: 'Georgia', serif;
    //font-weight: bold;
    width: calc(100% - 2 * $borderSize);
  }

.box-label {
    display: flex;
    align-items: center;
    //font-weight: bold;
    border: $borderSize solid rgb(20, 40, 226);
}


.box-input {
    display: flex;
    align-items: center;
    border: $borderSize solid rgb(226, 178, 20);
}

.form-line {
    margin: 1vh;
    border: $borderSize solid rgb(226, 178, 20);
    overflow-wrap: break-word;
    //width:calc(100% - 2 * $borderSize - 1vh);
  
    background-color: $defaultBackgroundColor;   
    color: $defaultFontColor; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-title {
    display: flex;
    border: $borderSize solid pink;
    background-color:$defaultBackgroundColor;   
    color: $defaultFontColor; 
    justify-content: center;
    margin-top: 1vh;
  }

.form-button {
    display: flex;
    justify-content: center;
}

.form-line {
    display: flex;
    flex-direction: column;
}



@media (orientation: portrait) and (max-width:430px) {
    .body {
  
        font-size: $smallFontSize;
        border: $borderSize solid #31c2e6;
    }
  }
  
  @media (orientation: portrait) and (min-width:431px) {
    .body {
  
        font-size: $mediumFontSize;
        border: $borderSize solid #e63140;
    }
  }
  


@media (orientation: landscape)  {
.box-label {
    width:calc(33% - 2 * $borderSize);
    border:$borderSize solid green;
}
.box-input {
    width:calc(33% - 2 * $borderSize);
    border:$borderSize solid yellow;
}
}

@media (orientation: portrait)  {
    .box-label {
        width:calc(80% - 2 * $borderSize);
        border:$borderSize solid green;
    }
    .box-input {
        width:calc(80% - 2 * $borderSize);
        border:$borderSize solid yellow;
    }
}