<app-auth-header></app-auth-header>
<div *ngIf="onError" class="error-message">
  Une erreur est survenue lors de l'inscription. Veuillez réessayer.
</div>

<div class="form-container">
    
  
      <form [formGroup]="buildedForm" (ngSubmit)="submit()" >
        <br>
      <div class="form-title">INSCRIPTION</div>
      <br>
      <br>
      <div class="form-line" >
        <label class="form-short-label" for="pseudonym">Nom d'utilisateur :</label>
        <div class="form-data">
          <input class="form-input" type="text" id="pseudonym" formControlName="varPseudonym">
        </div>
      </div>
      <br>
      <div class="form-line">
        <label class="form-short-label" for="emailaddress">Adresse e-mail :</label>
        <div class="form-data"><input class="form-input" type="emailaddress" id="emailaddress" formControlName="varEmailAddress">
        </div>
      </div>
      <br>
      <div class="form-line">
        <label class="form-short-label" for="password">Mot de passe :</label>
        <div class="form-data"><input class="form-input" type="password" id="password" formControlName="varPassword">
        </div>
      </div>
      <br>
      <div class="form-button">
        <button type="submit" >S'inscrire</button>
      </div>
      <br>
  </form>
  
</div>

