.fullscreen {
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
}

.item {
    width:25%;
    font-size: large;
    font-weight: bold;
    color: cadetblue;
    background-color: white;
    
}

