$borderSize: 0vh;

.fullscreen {
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
}

.item {
    width:25%;
    font-size: large;
    font-weight: bold;
    color: cadetblue;
    background-color: white;
    
}

.header-row {
  border: none; /* Retire les bordures par défaut */
  border-top: 2px solid black; /* Crée un trait noir de 2px d'épaisseur */
  width: 100%; /* Occupe 100% de la largeur de la fenêtre */
  margin: 0; /* Retire les marges par défaut */
}

.header-link {

  border: $borderSize solid rgb(219, 120, 141);

  display: flex;
  align-items: center;
}

