@import '../../../styles.scss';

.line {
    color: $defaultFontColor; 
    margin: 0vh; 
    display: flex;
    justify-content: center;
    height: calc(50% - 2 * $borderSize);
    border:$borderSize solid $borderColorLevelContent;
}

.container {
    //height:20vh;
    border:$borderSize solid $borderColorLevelContainer;
}

.data {
    width:50%;
}


.action {
    width: 50%;
}

@media screen and (orientation:portrait) {
    .action {
        width: 50%;
    } 
}

@media screen and (orientation:landscape) {
    .action {
        width: 30%;
    } 
}
