
<div class="grid-container">
<div class="grid-item" *ngFor="let oneKomment of childCommentList">
      <div class="portrait-only">
            <div class="grid-item-data">&nbsp;{{oneKomment.sentence}}</div>
            <div class="grid-item-title">&nbsp;{{oneKomment.pseudonymSpeaker}}</div>  
      </div>
      <div class="landscape-only">
            <div class="grid-item-title">&nbsp;{{oneKomment.pseudonymSpeaker}}</div>  
            <div class="grid-item-data">&nbsp;{{oneKomment.sentence}}</div>
      </div>
</div>



