@import '../../../styles.scss';



.grid-container {
  //border: $borderSize solid $borderColorLevelContent;
  border: $borderSize solid yellow;
  background-color:white; 
  display: grid;
  //grid-template-columns: repeat(1,1fr);
  height: 45vh;
  overflow: auto;
  width:calc(100% - 2 * $borderSize);
  
}


.grid-item {
  border: $borderSize solid #e631bf;
  width:calc(100% - 2 * $borderSize);
  //margin: 1vh;
}

.grid-item-title {
  border: $borderSize solid #31e64f;
  color:$gridItemTitleColor;
  //display: flex;
  //justify-content: center;
  //align-items: center; 
  width:calc(100% - 2 * $borderSize);
  //margin: 1vh;
  background-color:$defaultBackgroundColor;

}



  .grid-item-data {
    width:calc(100% - 2 * $borderSize);
    border: $borderSize solid rgb(226, 14, 14);
    background-color:$gridItemBackgroundColor;
    word-wrap: break-word;
    white-space: normal;
    }




  @media screen and (orientation: portrait) {
    .landscape-only {
      display: none;
      
    }
    .portrait-only {
      display: flex;
      flex-direction: column;
      border: $borderSize solid #e63140;
      justify-content: right;
    }

    .grid-item-title {
      width:calc(100% - 2 * $borderSize - 4vw);
      display: flex;
      justify-content: right;
      padding: 1vw;
    }
    .grid-item-data {
      width:calc(100% - 2 * $borderSize);  
    }

    .grid-container {
      //border: $borderSize solid $borderColorLevelContent;
      border: $borderSize solid yellow;

      //grid-template-columns: repeat(1,1fr);
      height: 45vh;

    }
  }
  
  /* Cacher une div en mode paysage */
  @media screen and (orientation: landscape) {
    .portrait-only {
      display: none;
    }
    .landscape-only {
      display: flex;
      flex-direction: row;
      justify-content: left;
      border: $borderSize solid #7631e6;
    }

    .grid-item-title {
      width:calc(5% - 2 * $borderSize);
    }
    .grid-item-data {
      width:calc(90% - 2 * $borderSize);  
    }

    .grid-container {
      //border: $borderSize solid $borderColorLevelContent;
      border: $borderSize solid yellow;

      //grid-template-columns: repeat(1,1fr);
      height: 25vh;

    }
  }




  
  /* Cacher une div en mode paysage */
  @media screen and (orientation: landscape) and (min-width:1000px) {
   

    .grid-container {
      //border: $borderSize solid $borderColorLevelContent;
      border: $borderSize solid yellow;

      //grid-template-columns: repeat(1,1fr);
      height: 45vh;

    }
  }



  

  @media screen and (orientation: portrait) and (min-height:1000px) {
    

    .grid-container {
      //border: $borderSize solid $borderColorLevelContent;
      border: $borderSize solid yellow;

      //grid-template-columns: repeat(1,1fr);
      height: 65vh;

    }
  }
  