@import '../../../styles.scss';

.title-line {
    color:$defaultFontColor;
    margin: 2vh; 
}

.container {
    display:flex;
    flex-direction: column;
    border: $borderSize solid #e6314f;
    //height: 90vh;
    font-size: $mediumFontSize;
}

#sentence {
    font-size: $mediumFontSize;
}

.input {
    width: 50%;
    border: $borderSize solid #5231e6;
    display: flex;
    justify-content: center;
}

  .input-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$defaultBackgroundColor; 
    border: $borderSize solid #5be631;
    margin: 2vh;
    color: $defaultFontColor;
    ////font-size: xx-large;
    width:calc(100% - 2 * $borderSize);
}
   


.input-select {
    width:calc(100% - 2 * $borderSize);
    border: 2px solid $lavandeColor; 
    border-radius: 5px;
    width: 100%;
}

   .input-label {
    display: flex;
    justify-content: left;
    background-color:$greyPearlColor; 
    border: $borderSize solid $lavandeColor;
    width:18vh;
    color: $defaultFontColor;
    font-size: $mediumFontSize;
   }
   .input-box {
    display: flex;
    justify-content: left;
    background-color:$greyPearlColor; 
    border: $borderSize solid #c5e631;
    width:60vw;
    
    
   }
.row {
    display: flex;
    justify-content: center;
    background-color:$defaultBackgroundColor;
    border: $borderSize solid #31c2e6; 
    margin: 1vh;
}






.input-text {
    //width:calc(100% - 2 * $borderSize);
    font-weight: normal;
    padding: 1vh;
    font-family: $fontFamily;
    border: 2px solid $lavandeColor; 
    border-radius: 5px;
    width: 100%;
}



@media (orientation: portrait) and (max-width:430px) {
    .input-title,.input-label {
  
        font-size: $smallFontSize;
        border: $borderSize solid #31c2e6;
    }
  }
  
  @media (orientation: portrait) and (min-width:431px) {
    .input-title,.input-label {
  
        font-size: $mediumFontSize;
        border: $borderSize solid #e63140;
    }
  }


  @media (orientation: portrait)  {
    .input-text {
        //width:calc(50% - 2 * $borderSize);
        
    }
    .input-select {
        //width:calc(50% - 2 * $borderSize);
        
    }
    
  }
  
  @media (orientation: landscape) {
    .input-text {
        //width:calc(50% - 2 * $borderSize);

    }
    .input-select {
        //width:calc(50% - 2 * $borderSize);
        
    }
    
  }