<div class="screen">
<app-connected-header></app-connected-header>
<div class="container">
    
      <form [formGroup]="buildedForm" (ngSubmit)="submit()" >
        <div class="row">
          <div class="input-title"><h1>Créer un nouvel article</h1></div>
        </div>
        <div class="row" >
          <div class="input">
          <select class="input-select" (change)="onOptionSelected($event)" formControlName="varTopic">
            <option value="" disabled >Sélectionner un thème</option>
            <option *ngFor="let oneTopic of topicList" [value]="oneTopic.id">
            {{ oneTopic.title }}
          </option>
          </select>
        </div>
        </div>
        <div class="row">
          <div class="input">
          <input class="input-text" type="text" id="title" formControlName="varTitle">
        </div>
        </div>
        <div class="row">
          <div class="input">
          <textarea rows="3" cols="90" class="input-text" type="text" id="sentence" formControlName="varSentence" (input)="updateCharCount()">
          </textarea>
        </div>
        </div>

          <div class="row">
            <div *ngIf="showInformationMessage" class="information">
              <label>{{informationMessage}}</label>
            </div>
          </div>

        <div class="row">
          <button type="submit" >Créer</button>
        </div>
    
      </form>
</div>







{{ bigErrorMessage }}

<!--
<p>Valeur sélectionnée: {{ selectedOption }}</p>-->
</div>