<app-connected-header></app-connected-header>
<div class="container">
    <div class="title-line">Création d'un nouvel article</div>
      <form [formGroup]="buildedForm" (ngSubmit)="submit()" >
        <div class="input-line">
          <div class="input-label">Titre :</div>
          <div class="input-box">
            <input type="text" id="title" formControlName="varTitle"></div>
        </div>
        <div class="input-line">
          <div class="input-label">Rédaction :</div>
          <div class="input-box"><input class="input-blablabla" type="text" id="sentence" formControlName="varSentence">
          </div>
          </div>
        <div class="input-line" >
          <div class="input-label">Thème :</div>
          <div class="input-box">
          <select (change)="onOptionSelected($event)" formControlName="varTopic">
          <option *ngFor="let oneTopic of topicList" [value]="oneTopic.id">
            {{ oneTopic.title }}
          </option>
          </select>
        </div>
        </div>
        <div class="button-line">
        <button type="submit" >Créer</button>
      </div>
      
      </form>
</div>






<p>Valeur sélectionnée: {{ selectedOption }}</p>
{{ bigErrorMessage }}
