@import '../../../../styles.scss';

.row {
  width:calc(100% - 2 * $borderSize);
  border: $borderSize solid #7631e6;
  display: flex;
  justify-content: center;
  background-color:$greyPearlColor;
}
.container {
  display: flex;
  flex-direction: column;
  //width:calc(100% - 2 * $borderSize);
  border: $borderSize solid #e6315e;
  height:calc(100% - 2 * $borderSize);
}

.title {
display: flex;
justify-content: center;
background-color:$greyPearlColor; 
border: $borderSize solid #31c2e6;
////font-size: xx-large;
color: $titleColor;
}

.input-text {
  //height: 20vh;
  width: calc(100% - 2 * $borderSize);
}

.textarea {
  width: calc(85% - 2* $borderSize );
  border: $borderSize solid #31c2e6;
}


.count {
  width: calc(15% - 2* $borderSize - 1vh);
  border: $borderSize solid #31c2e6;
  padding:1vh;
  color:cadetblue;
  margin:1vh;
}

.information {
  width: calc(100% - 2* $borderSize - 1vh);
  border: $borderSize solid #31c2e6;
  padding:1vh;
  color:cadetblue;
}

//=========================================================
// ======================= PORTRAIT =======================
/* Mode portrait (hauteur > largeur) : les éléments s'empilent verticalement */
 
@media screen and (orientation: portrait) and (max-height: 926px) {
  // contexte : iPhone SE




}

@media screen and (orientation: portrait) and (min-height: 1000px) {
  // contexte : iPad



}



//=========================================================
// ======================= PAYSAGE =======================
/* Mode paysage (largeur > hauteur) : les éléments s'alignent en ligne */





@media screen and (orientation: landscape) and (max-width: 927px) {
  // Contexte : Galaxy S10 en paysage


}

@media screen and (orientation: landscape) and (min-width: 1079px) {
  // Contexte : iPad en portrait




}



