<div class="grid-container">
<div class="grid-item" *ngFor="let oneShapeResponse of shapeResponseList">

        <div class="shape-line">Thème&nbsp;{{oneShapeResponse.topicTitle}}

        </div>
        <div class="shape-description">{{oneShapeResponse.topicDescription}}

        </div>
        <div class="shape-button"><button type="submit" (click)="unsubscribeToThisTopic(oneShapeResponse.subscriptionId)">Se désabonner</button>
        </div>


</div>

  <!--
  <div *ngIf="bigErrorMessage" class="display">
    {{ bigErrorMessage }}
  </div>
  <div *ngIf="!shapeResponseList.length" class="display">
    Pas d'abonnement pour le moment
  </div>
  -->