@import '../../../styles.scss';

.screen {
    height: 100%;
    border: $borderSize solid $borderColorLevelScreen;
}
.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 2 * $borderSize);
    border: $borderSize solid $borderColorLevelContainer; 
    height: calc(30% - 2 * $borderSize);
}
.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 2 * $borderSize);
    border: $borderSize solid $borderColorLevelContainer; 
    //height: 10vh;
    height: calc(60% - 2 * $borderSize);
    overflow-y: auto;
}

.content {
    width: calc(50% - 2 * $borderSize - 1vh);
    border: $borderSize solid $borderColorLevelContent; 
    height: calc(50% - 2 * $borderSize);
    margin: 1vh;
}

.black-line {
    height:$blackLineHeight;
}


@media (orientation: landscape) {
    .container1 {
        display: flex;
        flex-direction: row;
        width: calc(100% - 2 * $borderSize);

    }

    .content {
        width: calc(50% - 2 * $borderSize);
    }

}

@media (orientation: portrait) {
    .container1 {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2 * $borderSize);
    }

    .content {
        width: calc(100% - 2 * $borderSize);
    }

}

