<div class="screen">
    <app-connected-header></app-connected-header>
    
    <div class="container">
        <div class="content">
            <hr class="black-line">
        </div>
        <div class="content">
            <app-comment-title [articleIdToReceive]="articleIdFromUrl" [speakerIdToReceive]="speakerIdFromUrl"></app-comment-title>
        </div>
        <div class="content">
            <hr class="black-line">
        </div>
        <div class="content">&nbsp;Commentaires</div>
        <div class="content">
            <app-comment-list [articleIdToReceive]="articleIdFromUrl" 
            [speakerIdToReceive]="speakerIdFromUrl" [childCommentList]="fatherCommentList">
            </app-comment-list>
        <div>
        <div class="content">
            <app-new-comment (childEventEmitter)="onNewCreatedKomment($event)" ></app-new-comment>
        </div>
    </div>
</div>


<!--
app-connected-header height: 10vh

-->

