<app-connected-header></app-connected-header>

<h2>Profil utilisateur</h2>

<div class="container">
<form [formGroup]="buildedForm" (ngSubmit)="sayHello()">
  <div class="line" >
    <div class="fieldlabel"><label for="pseudonym">Nom d'utilisateur :</label></div>
    <div class="data"><input type="text" id="pseudonym" class="form-control" formControlName="varPseudonym"></div>
  </div>
  <div class="line">
    <div class="fieldlabel"><label for="emailaddress">Adresse e-mail :</label></div>
    <div class="data"><input type="emailaddress" id="emailaddress" class="form-control" formControlName="varEmailaddress"></div>
  </div>
  <div class="line">
    <div class="fieldlabel"><label for="password">Mot de passe :</label></div>
    <div class="data">  <input type="password" id="password" class="form-control" formControlName="varPassword"></div>
  </div>
<div>
  <button [disabled]="buildedForm.invalid" type="submit" >Se connecter</button>
</div>
</form>
</div>

<div *ngIf="bigErrorMessage" class="alert alert-danger">
    {{ bigErrorMessage }}
  </div>