<div class="container">
<form [formGroup]="buildedForm" (ngSubmit)="updateCredentials()">
  <div class="block" >
    <div class="special" >
    <div class="special-box"><h1>Crédentials</h1></div>
    <div class="special-box">
      <button type="submit" >Sauvegarder</button>
      <button (click)="logout()">Se déconnecter</button>
      <div *ngIf="showInformationMessage" class="information">
        <label>{{informationMessage}}</label>
      </div>
    </div>
  </div>
  </div>
  <div class="block" >
    <div class="row">
      <div class="fieldlabel">Adresse e-mail:</div>
      <div class="data"><input (click)="onInputClick()" type="emailaddress" id="emailaddress" class="form-control" [(ngModel)]="connectedSpeaker.emailaddress" formControlName="varEmailaddress"></div>
    </div>

    <div class="row">
      <div class="fieldlabel">Nom d'utilisateur:</div>
      <div class="data"><input (click)="onInputClick()" type="text" id="pseudonym" class="form-control" formControlName="varPseudonym" [(ngModel)]="connectedSpeaker.pseudonym"></div>
    </div>
    <div class="row">
      <div class="fieldlabel">Password:</div>
      <div class="data"><input (click)="onInputClick()" type="password" id="pasword" class="form-control" [(ngModel)]="connectedSpeaker.password" formControlName="varPassword"></div>
    </div>

  </div>
  <div class="block" >
 
 
  
  </div>
</form>

<div *ngIf="bigErrorMessage" class="display">
    {{ bigErrorMessage }}
  </div>


<!--
        <div class="line">
          <div class="fieldlabel"><label for="password">Mot de passe :</label></div>
          <div class="data">  <input type="password" id="password" class="form-control" formControlName="varPassword" [(ngModel)]="connectedSpeaker.password"></div>
        </div>  
-->