
<app-auth-header></app-auth-header>
<div class="form-container">
<form [formGroup]="buildedForm" class="register-form"  (ngSubmit)="submit()">
  <div class="form-title" ><h1>Connexion</h1>
  </div>
<div class="form-line">
  <label class="box-label" for="pseudonym">Adresse e-mail:</label>
  <div class="box-input">
    <input (click)="onInputClick()" class="input" formControlName="varEmailAddress" type="text" id="login">
  </div>
</div>
<div class="form-line">
  <label class="box-label" for="password">Mot de passe :</label>
  <div class="box-input">
  <input (click)="onInputClick()" class="input" formControlName="varPassword" type="password" id="password"></div>
</div>
<div class="form-button">
  <button type="submit" >Se connecter</button>
</div>
</form>
<div *ngIf="onError" class="form-line">
{{ informationMessage }}
</div>