<div class="container">
  <form [formGroup]="buildedForm" (ngSubmit)="submit()" >
  <div class="row">
    <div class="title"><h2>Ajout d'un commentaire</h2></div>
  </div>
  <div class="row">
    <div class="textarea">
      <textarea rows="3" cols="30" class="input-text" [(ngModel)]="laius" type="text" id="sentence" formControlName="varSentence" (input)="updateCharCount()">
      </textarea>
  </div>
  </div>
  <div class="row">
    <button class="action" type="submit" >Créer</button>
  </div>
  <div class="row">
    <div *ngIf="showInformationMessage" class="information">
      <label>{{informationMessage}}</label>
    </div>
  </div>
  </form>
</div>


    <!--
    <div class="input-label">Rédaction :</div>
    -->