<app-connected-header></app-connected-header>
<br>
<form [formGroup]="buildedForm" (ngSubmit)="submit()" >
   <div class="input-title"><h1>Ajout d'un commentaire pour l'article "{{ currentArticle.title }}"</h1></div>
    <div class="input-line">
        <div class="input-label">Rédaction :</div>
        <div class="input-box">
        <input class="input" type="text" id="sentence" formControlName="varSentence"></div>
      </div>
    <div class="line">
        <button type="submit" >Créer</button>
    </div>
    </form>
