@import '../../../styles.scss';

  
input {
    width: calc(100% - 2 * $borderSize);
  }

  
.form-container {
    border: $borderSize solid #31c2e6;
    background-color:$defaultBackgroundColor; 
    width:calc($screenWidth - 2 * $borderSize);
    display: flex;
    flex-direction: column;
  }

.form-title {
display: flex;
border: $borderSize solid pink;
background-color: $defaultBackgroundColor;   
color: $titleScreenColor; 
justify-content: center;
margin-top: 1vh;
}
  

  .form-line{
    border: $borderSize solid pink;
    overflow-wrap: break-word;
    //background-color: #f1ecec;   
    color: $defaultFontColor;
    margin: 1px;
}
  
   
.form-button {
display: flex;
border: $borderSize solid pink;
overflow-wrap: break-word;
background-color:$defaultBackgroundColor;   
color: $defaultFontColor; 
justify-content: center;
//height: $lineHeight;
}
  
 
.box-label {
    width:calc(25% - 2 * $borderSize);
    border:$borderSize solid green;
    font-size: $bigFontSize;
    display: flex;
    align-items: center;
}
.box-input {
    width:calc(50% - 2 * $borderSize);
    border:$borderSize solid yellow;
}
 
  //=========================================================
  // ======================= PORTRAIT =======================
  @media screen and (orientation: portrait) and (max-width:430px) {

    .form-line {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: $borderSize solid #46e631;
    }
    .box-label {
      width:calc(80% - 2 * $borderSize);
      border:$borderSize solid rgb(128, 0, 28);
    }
    .box-input {
      width:calc(80% - 2 * $borderSize);
      border:$borderSize solid yellow;
    }
    }

      // ======================= PORTRAIT =======================
  @media screen and (orientation: portrait) and (min-width:809px) {

    .form-line {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: $borderSize solid #46e631;
    }
    .box-label {
      width:calc(50% - 2 * $borderSize);
      border:$borderSize solid rgb(128, 0, 28);
    }
    .box-input {
      width:calc(50% - 2 * $borderSize);
      border:$borderSize solid yellow;
    }
    }



  /*========================================================================
  LANDSCAPE
 ========================================================================*/
  // Code CTRL+F: QA
  /* Mode paysage (largeur > hauteur) : les éléments s'alignent en ligne */

  @media screen and (orientation:landscape) and (max-width: 845px) {
      .box-input {
        width:calc(50% - 2 * $borderSize);
        border:$borderSize solid rgb(255, 136, 0);
    
      }
       .form-line {
        //width: calc($screenWidth - 8vw);
        width: calc(100% - 2 * $borderSize);
        display: flex;
        flex-direction: row;
        justify-content: center;
    
      }
      .box-label {
        width:calc(30% - 2 * $borderSize);
        border:$borderSize solid rgb(91, 202, 17);
        font-size: $bigFontSize;
      }
    }

  

  
@media screen and (orientation: landscape) and (min-width: 853px) {
    // Contexte : Galaxy S10 en paysage
  
    .screen {
      font-size: $smallFontSize;
    }
  
    .form-title {
      width: calc(100% - 2 * $borderSize);
    }
    .form-line {
      width: calc(100% - 2 * $borderSize);
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .box-label {
      width:calc(30% - 2 * $borderSize);
      border:$borderSize solid rgb(20, 17, 202);
      font-size: $bigFontSize;
    }
    .box-input {
      width:calc(50% - 2 * $borderSize);
      border:$borderSize solid rgb(255, 136, 0);
  
    }
  
}
  


  /*========================================================================
  Calcul des H
 ========================================================================*/
  p {
    font-size: 1em; /* La taille sera de 16px car elle hérite du parent (html) */
  }
    
  
  h1 {
    font-size: 1,5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.125em;
  }
  