.halfscreen {
    height: 50vh; /* 50% de la hauteur de la vue */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Couleur de fond, modifiable */
  font-size: 24px;
  font-weight: bold;
  }



.logo {
    width: 30%;
    text-align: center;
}

.line {
    display:flex
}


