
<div class="frame">
  <div class="item" *ngFor="let oneTopic of topicList">
    <div class="item-line">
      <div class="item-data">
        
          <h2>Thème&nbsp;{{ oneTopic.title }}</h2>
       
      </div>
    </div>
    <div class="item-line"><div class="item-data">{{ oneTopic.description }}</div>

    </div>
    <div class="item-line">
      <div *ngIf="oneTopic.subskriptionActivated" class="item-information">
        <label class="label">{{ oneTopic.informationMessage }}</label>
      </div>
      <div *ngIf="!oneTopic.subskriptionActivated" class="item-button">
        <button class="little-button" type="submit" (click)="subscribeToThisTopic(oneTopic.id)">S'abonner</button>
      </div>
    </div>
  </div>
</div>
