@import '../../../styles.scss';

.comment-block {
    border: 1vh solid rgb(160, 159, 95);
    display:flex;
    flex-direction: column;
}


.comment-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: $borderSize solid rgb(19, 17, 18);
    width: calc(100% - 2 * $borderSize);

}

.comment-data {
    border: $borderSize solid rgb(8, 126, 18);    
    align-items: center;
    justify-content: center;
    width: calc(33.3% - 2 * $borderSize);
    //padding: 2vh;
    background-color: $greyPearlColor;
    overflow-wrap: break-word;
}


.comment-title {
    background-color: $greyPearlColor;
    //margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $borderSize solid rgb(8, 126, 18);
    color: cadetblue;
    font-size: xx-large;
    width: calc(100% - 2 * $borderSize);
    height: calc(100% - 2 * $borderSize);
}

@media (orientation:portrait) and (min-height: 666px) {
.comment-bigbutton {
    width: 300px ;
    height:30px;
}
.comment-row {
    font-size: 11px;
}
}

@media (orientation:portrait) and (min-height: 1079px) {
    .comment-bigbutton {
        width: 300px ;
        height:30px;
    }
    .comment-row {
        font-size: 13px;
    }
}
    



@media (orientation:landscape) {
    .comment-bigbutton {
        width: 400px ;
        height:30px;
    }
    }
    