@import '../../../styles.scss';

.comment-block {
    border: $borderSize solid rgb(160, 159, 95);
    display:flex;
    flex-direction: column;
    height: calc(100% - 2 * $borderSize - 1vh);
    margin: 1vh;
}


.comment-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $borderSize solid rgb(104, 196, 18);
    width: calc(100% - 2 * $borderSize);
    //height: calc(33% - 2 * $borderSize - 2vh);
    background-color: $greyPearlColor;
}

.comment-data {
    border: $borderSize solid rgb(8, 126, 18);    
    align-items: center;
    justify-content: center;
    width: calc(100% - 2 * $borderSize - 1vh);
    padding: 1vh;
    background-color: $greyPearlColor;
    overflow-wrap: break-word;
}


.comment-title {
    background-color: $greyPearlColor;
    //margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $borderSize solid rgb(8, 126, 18);
    color: cadetblue;
    ////font-size: xx-large;
    width: calc(100% - 2 * $borderSize);
    height: calc(100% - 2 * $borderSize);
}

@media (orientation:portrait) and (max-height: 400px) {
.comment-bigbutton {
    width: 300px ;
    height:30px;
}

.comment-title {
    ////font-size: x-large;
    border: $borderSize solid rgb(243, 247, 36);
}
}

@media (orientation:portrait) and (min-height: 1079px) {
    .comment-bigbutton {
        width: 300px ;
        height:30px;
    }

}
    



@media (orientation:landscape) and (max-height: 376px) {
    .comment-bigbutton {
        width: 400px ;
        height:30px;
    }
    .comment-title {
        ////font-size: x-large;
        border: $borderSize solid rgb(243, 247, 36);
    }


}
    