
<div class="comment-block">
<div class="comment-row">
  <div class="comment-title"><h2>
    {{currentBlurb.articleTitle}}</h2>
  </div>
</div>

<div class="comment-row">

  <div class="comment-data">Création:{{currentBlurb.creationDate | date:'dd/MM/yyyy'}}</div>

  <div class="comment-data">Auteur:{{currentBlurb.authorPseudonym}}</div>
  <div class="comment-data">Thème:{{currentBlurb.topicTitle}}</div>
</div>
</div>
<!--
<div class="comment-row">
  <button class="comment-bigbutton" type="submit" (click)="createComment()">Ajouter un commentaire</button>
</div>
-->


