
@import '../../../styles.scss';


  .header img {
    max-width: 100%;
    height: auto; /* Maintient les proportions de l'image */
    display: block; /* Évite les espaces blancs supplémentaires */
    object-fit: contain; 
}

.header {
    height: 12vh;
    //font-size: $smallFontSize;
}


.header-link {
    border: $borderSize solid rgb(120, 138, 219);
    display: flex;
    align-items: center;
    height: calc(100% - 2 * $borderSize);
  }



@media screen and (orientation: portrait) and (max-height: 400px) {
    .header {
        display: flex;
        flex-direction: row;
        border: $borderSize solid #6131e6;
    }

}

@media screen and (orientation: portrait) and (min-height: 401px) {
      // contexte : iPad
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //align-items: center; 
        border: $borderSize solid #6131e6; 
    }
}



@media screen and (orientation: landscape) and (max-width: 850px) {
    .header {
        display: flex;
        flex-direction: row;
        border: $borderSize solid #e63158;

    }


}

@media screen and (orientation: landscape) and (min-width: 851px) {
      // contexte : iPad
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        border: $borderSize solid #31e63a; 
    }

}


@media (orientation: portrait) and (max-width:430px) {
    .header-link {
  
        font-size: $smallFontSize;
        border: $borderSize solid #31c2e6;
    }
  }
  
  @media (orientation: portrait) and (min-width:431px) {
    .header-link {
  
        font-size: $mediumFontSize;
        border: $borderSize solid #e63140;
    }
  }
  



