<header>
    <div class="container ">
        <div class="item"><img class="logo" src="../../assets/images/Logo.png"></div>
        <div class="item"><h1><a routerLink="/topicList" routerLinkActive="active-link" >Thèmes</a></h1></div>
        <div class="item"><h1><a routerLink="/articleList" routerLinkActive="active-link" >Articles</a></h1></div> 
        <div class="item"><a routerLink="/profile"> <img class="logo" src="../../assets/images/Person.png" alt="Profil utilisateur"> </a></div>
    </div>
    <div class="container">___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</div>
    </header>
  