<header>
    <div class="header">
        <div class="data">
            <a routerLink="/welcome">
                <img class="logo" src="../../assets/images/Logo.png" alt="Accueil">
           </a>
        </div>
        <div class="data">
            <h1>
                <a routerLink="/topicContainer" routerLinkActive="active-link" >Thèmes</a>
            </h1>
        </div>
        <div class="data">
            <h1>
                <a routerLink="/articleContainer" routerLinkActive="active-link" >Articles</a>
            </h1>
        </div> 
        <div class="data">
            <h1>
                <a routerLink="/shapeContainer" routerLinkActive="active-link" >Abonnements</a>
            </h1>
        </div> 
        <div class="data">
            <a routerLink="/changeCredentials">
                 <img class="logo" src="../../assets/images/Person.png" alt="Profil utilisateur">
            </a>
        </div>
    </div>
    <div class="header">___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</div>
    
</header>
  

