<app-connected-header></app-connected-header>
<p>witness-page works!</p>
<div class="container">
<form [formGroup]="buildedForm" (ngSubmit)="updateCredentials()">
        <div class="line" ><div class="title">Crédentials</div></div><br>
        <div class="line" >
          <div class="fieldlabel"><label for="pseudonym">Nom d'utilisateur :</label></div>
          <div class="data"><input type="text" id="pseudonym" class="form-control" formControlName="varPseudonym" [(ngModel)]="connectedSpeaker.pseudonym"></div>
        </div>
        <br>
        <div class="line">
          <div class="fieldlabel"><label for="emailaddress" >Adresse e-mail :</label></div>
          <div class="data"><input type="emailaddress" id="emailaddress" class="form-control" [(ngModel)]="connectedSpeaker.emailaddress" formControlName="varEmailAddress"></div>
        </div>
        <br>
        <div class="line">
          <div class="fieldlabel"><label for="password">Mot de passe :</label></div>
          <div class="data">  <input type="password" id="password" class="form-control" formControlName="varPassword" [(ngModel)]="connectedSpeaker.password"></div>
        </div>
        <br>
        <div>
            <button [disabled]="buildedForm.invalid" type="submit" >Enregistrer</button>
          </div>
</form>

<div *ngIf="bigErrorMessage" class="alert alert-danger">
    {{ bigErrorMessage }}
  </div>