
<div class="action">
  <a (click)="sortByDate()">Trier par &#8595;</a>
</div>
<div class="container">




<div class="grid-item" *ngFor="let oneArticle of articleList" (click)="navigateToCommentList(oneArticle.speakerId,oneArticle.id)">

    <div class="row">
      <div class="data"><b>
      {{ oneArticle.title }}</b>
    </div>
    </div>
    <div class="row">
      <div class="data">{{ oneArticle.creationDate | date: 'dd/MM/yyyy hh:mm:ss' }}</div>
      <div class="data">{{ oneArticle.authorPseudonym}}</div>
    </div>
    <div class="row">
      <div class="data">
      {{ oneArticle.sentence }}</div>
    </div> 

  </div>

</div>


<!--
    <div class="row">
     <button (click)="navigateToCommentList(oneArticle.speakerId,oneArticle.id)">Commentaires</button>
    </div>
    -->