
<div class="frame">

<div class="item" *ngFor="let oneArticle of articleList">
  <div class="item-box" >
    <div class="item-row">
      <div class="item-data">Titre:&nbsp;{{ oneArticle.title }}
      </div>
   
    </div>
   
    <div class="item-row">
      <div class="item-data">{{ oneArticle.creationDate | date: 'dd/MM/yyyy' }}</div>
      <div class="item-data">Auteur:&nbsp;{{ oneArticle.speakerId}}</div>
    </div>
    
    <div class="item-row">
      <div class="item-data">{{ oneArticle.sentence }}
      </div>
    </div> 
    <div class="item-button">
      <button class="bigbutton" (click)="navigateToCommentList(oneArticle.speakerId,oneArticle.id)">Voir les commentaires</button>
    </div>
  </div>
</div>
</div>
