
<div class="many">

<div class="article" *ngFor="let oneArticle of articleList">

    <div class="row">
      Titre:&nbsp;{{ oneArticle.title }}
    </div>
    <div class="row">
      <div class="data">{{ oneArticle.creationDate | date: 'dd/MM/yyyy' }}</div>
      <div class="data">Auteur:&nbsp;{{ oneArticle.speakerId}}</div>
    </div>
    <div class="row">
      {{ oneArticle.sentence }}
    </div> 
    <div class="block-button">
     <button (click)="navigateToCommentList(oneArticle.speakerId,oneArticle.id)">Commentaires</button>
    </div>
  </div>

</div>
