@import '../../../styles.scss';


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 2 * $borderSize);
    border: $borderSize solid rgb(126, 8, 28); 
}

.data {
    width: calc(50% - 2 * $borderSize - 1vh);
    border: $borderSize solid rgb(11, 223, 22); 
    //height: calc(50% - 2 * $borderSize);
    margin: 1vh;
}



@media (orientation: landscape) {
    .row {
        display: flex;
        flex-direction: row;
        width: calc(100% - 2 * $borderSize);

    }

    .data {
        width: calc(50% - 2 * $borderSize);
    }

}

@media (orientation: portrait) {
    .row {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2 * $borderSize);
    }

    .data {
        width: calc(100% - 2 * $borderSize);
    }

}

