/* You can add global styles to this file, and also import other style files */
  // Variable pour la couleur des liens
  $lavande-color: rgb(150, 131, 236); // Exemple d'une couleur bleue
  
  $titleHeight:10vh;
  $borderSize:0vh;
  $buttonWidth:200px;
  $lineHeight:5vh;
  $headerHeight:25vh ;




.error {
    color: red;
}

button {
    margin:10px;
    display: flex;
    justify-content: center;  /* Centre le texte horizontalement */
    align-items: center;      /* Centre le texte verticalement */
    border: solid 1px;
    border-radius: 20px;

    line-height: 50px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color:$lavande-color;    
    flex-wrap: nowrap;
    width: $buttonWidth ;
    height:45px;
    padding: 10px 20px;

  }


a {
  color: $lavande-color;
  font-weight: bold;
  text-decoration: none; /* Supprime le soulignement par défaut */
}

a:hover {
  color: darken($lavande-color, 10%); /* Couleur plus foncée au survol */
  text-decoration: underline; /* Ajoute un soulignement au survol */
}

a.active-link {
    color: lighten($lavande-color, 10%);  /* Couleur noire pour le lien actif */
    font-weight: normal;
}


app-connected-header {
  position: fixed; /* Position fixe pour garder le header en haut de la page */
  top: 0; /* Fixe le header au sommet de la fenêtre */
  left: 0; /* Fixe le header à gauche, couvrant toute la largeur */
  width: 100%; /* Le header occupe toute la largeur de la page */
  z-index:2;
  height: $headerHeight;
}

app-article-title {
  position: fixed; /* Position fixe pour garder le header en haut de la page */
  top: $headerHeight; /* Juste sous le header */
  left: 0; /* Fixe le header à gauche, couvrant toute la largeur */
  width: 100%; /* Le header occupe toute la largeur de la page */
  background-color: cyan; /* Fond blanc pour éviter de voir le contenu derrière le header */
  z-index:1;
}

app-comment-title {
  position: fixed; /* Position fixe pour garder le header en haut de la page */
  top: $headerHeight  ; /* Juste sous le header */
  left: 0; /* Fixe le header à gauche, couvrant toute la largeur */
  width: 100%; /* Le header occupe toute la largeur de la page */
  background-color: cyan; /* Fond blanc pour éviter de voir le contenu derrière le header */
  z-index:1;
}


app-article-list {
  position: fixed; /* Position fixe pour garder le header en haut de la page */
  top: calc($headerHeight + 2 * $lineHeight + 7 * $borderSize); /* Commence après le header (10vh) et le titre (10vh) */
  left: 0; /* Fixe le header à gauche, couvrant toute la largeur */
  width: 100%; /* Le header occupe toute la largeur de la page */
  // background-color: red; /* Fond blanc pour éviter de voir le contenu derrière le header */
  z-index:0;
  height: calc(100vh + 2 * $lineHeight + 7 * $borderSize); /* Hauteur ajustée à la hauteur totale de la fenêtre moins la hauteur du header et du titre */
  overflow-y: auto; /* Active le défilement vertical dans ce conteneur */
  }
  
  app-comment-list {
    position: fixed; /* Position fixe pour garder le header en haut de la page */
    top: $headerHeight + 2*$lineHeight + 8 * $borderSize; /* Commence après le header (10vh) et le titre (10vh) */
    left: 0; /* Fixe le header à gauche, couvrant toute la largeur */
    width: 100%; /* Le header occupe toute la largeur de la page */
    // background-color: red; /* Fond blanc pour éviter de voir le contenu derrière le header */
    z-index:0;
    height: calc(100vh - $headerHeight - 2*$lineHeight - 8 * $borderSize); /* Hauteur ajustée à la hauteur totale de la fenêtre moins la hauteur du header et du titre */
    overflow-y: auto; /* Active le défilement vertical dans ce conteneur */
    } 

    
app-shape-list {
  position: fixed; /* Position fixe pour garder le header en haut de la page */
  top: $headerHeight; /* Juste sous le header */
  left: 0; /* Fixe le header à gauche, couvrant toute la largeur */
  width: 100%; /* Le header occupe toute la largeur de la page */
  //background-color: yellow; /* Fond blanc pour éviter de voir le contenu derrière le header */
  z-index:1;
  height: calc(100vh - $headerHeight); /* Hauteur ajustée à la hauteur totale de la fenêtre moins la hauteur du header et du titre */
  overflow-y: auto; /* Active le défilement vertical dans ce conteneur */
}

app-topic-list {
  position: fixed; /* Position fixe pour garder le header en haut de la page */
  top: $headerHeight; /* Juste sous le header */
  left: 0; /* Fixe le header à gauche, couvrant toute la largeur */
  //background-color: blue; /* Fond blanc pour éviter de voir le contenu derrière le header */
  z-index:1;
  height: calc(100vh - $headerHeight); /* Hauteur ajustée à la hauteur totale de la fenêtre moins la hauteur du header et du titre */
  overflow-y: auto; /* Active le défilement vertical dans ce conteneur */
  width: 100%;
}



.blackLine {
  height:1px;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

.item {
  text-align: center;
  background-color: #f1ecec;
  gap: 100px; /* Ajoute un espace entre les éléments */
  //border: $borderSize solid red;
  width: 25%; 
  min-width: calc($buttonWidth + 2 * $borderSize);
  box-sizing: border-box;
  margin: 0.1%;
  border-radius: 20px;
}



.data {
  font-family: 'Georgia', serif;
  text-align: left;
  //border: $borderSize solid green;
  word-wrap: break-word;
  white-space: normal;
  width: 100%;
  height: somethingHeight;
  box-sizing: border-box;
  
}


.line {
  display: flex;
  font-family: 'Georgia', serif;
  text-align: left;
  border: $borderSize solid pink;
  overflow-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
  background-color: #f1ecec;    

}


.header {
  display: flex;
  font-family: 'Georgia', serif;
  text-align: left;
  border: $borderSize solid #0a911c;
  overflow-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
  background-color: #f1ecec;    

}


.label {
  width: 20%;
}

.river {
  width: 80%;
}